@layer base {}

@layer base {
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 10px;
  }
}

@layer base {
  .sticky-header {
    @apply sticky top-0 z-30 bg-black/80 backdrop-blur-md border-b border-zinc-900;
  }
}

@layer base {
  .touch-manipulation {
    touch-action: manipulation;
  }
}

@layer base {
  .no-pull-to-refresh {
    overscroll-behavior-y: none;
  }
}